*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: url('img/background.jpg');
    background-attachment: fixed;
}

.teams{
    background-color: #195b769e;
    border-radius: 0 25px 25px 0;
}

.teamDiv{
    background: #195b769e;
}
.teamDiv:hover{
    background: #1890bf9e;
}

.pokeContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
}
.pageContent{
    background-color: #195b769e;
    border-radius: 25px 0 0 25px;
}
.pokemon {
    cursor: pointer;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #195b769e;
}

.background_pokemon{
    width: 300px;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    background: #113a4a;
    color: azure;
}

progress {
    height: 25px;
    vertical-align: revert;
}
.Stats p{
    position: absolute;
    padding-left: 5px;
    font-weight: 500;
}
::-webkit-progress-bar {
    background: none;
}
.cool::-webkit-progress-value {
    background: green;
}
.ok::-webkit-progress-value {
    background: rgb(171, 215, 25);
}
.meh::-webkit-progress-value {
    background: orange;
}
.danger::-webkit-progress-value {
    background: red;
}


.pokemon:hover {
    background: #1890bf9e;
}
.DivDamageRelation h2{
    font-size: large;
    font-weight: bold;
}
.DamageRelation{
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    text-transform: uppercase;
    color: white;
    text-align: center;
}