.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
}

.pokemon {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: grey;
}