*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: url('img/background.jpg');
    background-attachment: fixed;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
}
.pageContent{
    background-color: #195b769e;
}
.pokemon {
    cursor: pointer;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #195b769e;
}
.background_pokemon{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    background: #113a4a;
    color: azure;
}

progress {
    -webkit-appearance: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
::-webkit-progress-bar {
    background: none;
}
.cool::-webkit-progress-value {
    background: green;
}
.ok::-webkit-progress-value {
    background: rgb(171, 215, 25);
}
.meh::-webkit-progress-value {
    background: orange;
}
.danger::-webkit-progress-value {
    background: red;
}

