*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: url('../img/background.jpg');
    background-attachment: fixed;
}

.teams{
    background-color: #195b769e;
    border-radius: 0 25px 25px 0;
}

.teamDiv{
    background: #195b769e;
}
.teamDiv:hover{
    background: #1890bf9e;
}

.pokeContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
}
.pageContent{
    background-color: #195b769e;
    border-radius: 25px 0 0 25px;
}
.loginDiv{
    background-color: #195b769e;
    border-radius: 25px;
}
.pokemon {
    cursor: pointer;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #195b769e;
}

.background_pokemon{
    width: 300px;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    background: #113a4a;
    color: azure;
}

progress {
    height: 25px;
    vertical-align: revert;
}
.Stats p{
    position: absolute;
    padding-left: 5px;
    font-weight: 500;
}
::-webkit-progress-bar {
    background: none;
}
.cool::-webkit-progress-value {
    background: green;
}
.ok::-webkit-progress-value {
    background: rgb(171, 215, 25);
}
.meh::-webkit-progress-value {
    background: orange;
}
.danger::-webkit-progress-value {
    background: red;
}


.pokemon:hover {
    background: #1890bf9e;
}
.DivDamageRelation h2{
    font-size: large;
    font-weight: bold;
}
.DamageRelation{
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

#typeCaps{
    display: none;
}
.DamageRelation .rock{
    display: block;
}
.DamageRelation > .rock ~ .rock {
    display: none;
}

.DamageRelation .grass{
    display: block;
}
.DamageRelation > .grass ~ .grass {
    display: none;
}

.DamageRelation .bug{
    display: block;
}
.DamageRelation > .bug ~ .bug {
    display: none;
}

.DamageRelation .dark{
    display: block;
}
.DamageRelation > .dark ~ .dark {
    display: none;
}

.DamageRelation .dragon{
    display: block;
}
.DamageRelation > .dragon ~ .dragon {
    display: none;
}

.DamageRelation .electric{
    display: block;
}
.DamageRelation > .electric ~ .electric {
    display: none;
}

.DamageRelation .fairy{
    display: block;
}
.DamageRelation > .fairy ~ .fairy {
    display: none;
}

.DamageRelation .fighting{
    display: block;
}
.DamageRelation > .fighting ~ .fighting {
    display: none;
}

.DamageRelation .fire{
    display: block;
}
.DamageRelation > .fire ~ .fire {
    display: none;
}

.DamageRelation .flying{
    display: block;
}
.DamageRelation > .flying ~ .flying {
    display: none;
}

.DamageRelation .ghost{
    display: block;
}
.DamageRelation > .ghost ~ .ghost {
    display: none;
}

.DamageRelation .ground{
    display: block;
}
.DamageRelation > .ground ~ .ground {
    display: none;
}

.DamageRelation .ice{
    display: block;
}
.DamageRelation > .ice ~ .ice {
    display: none;
}

.DamageRelation .normal{
    display: block;
}
.DamageRelation > .normal ~ .normal {
    display: none;
}

.DamageRelation .psychic{
    display: block;
}
.DamageRelation > .psychic ~ .psychic {
    display: none;
}

.DamageRelation .poison{
    display: block;
}
.DamageRelation > .poison ~ .poison {
    display: none;
}

.DamageRelation .steel{
    display: block;
}
.DamageRelation > .steel ~ .steel {
    display: none;
}

.DamageRelation .water{
    display: block;
}
.DamageRelation > .water ~ .water {
    display: none;
}